*{tag: "SignedInfo"}
	*{tag: "CanonicalizationMethod"} Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315"
	*{tag: "SignatureMethod"} Algorithm="http://www.w3.org/2000/09/xmldsig#rsa-sha1"
	*{tag: "Reference"} URI="#{uri}"
		*{tag: "Transforms"}
			*{tag: "Transform"} Algorithm="http://www.w3.org/2000/09/xmldsig#enveloped-signature"
		*{tag: "DigestMethod"} Algorithm="http://www.w3.org/2000/09/xmldsig#sha1"
		*{tag: "DigestValue"} = Utils::Utils.remove_quebras Base64.encode64(OpenSSL::Digest::SHA1.digest(data_xml))