doctype xml
*{ tag: "ConsultarLoteRpsEnvio" } *message_namespaces
  *{tag: "Prestador"}
    = Utils::XML.render '_tc_identificacao_prestador', emitente: content_xml.prestador
  *{tag: "Protocolo"} = content_xml.protocolo
